.container {
    min-height: 100vh;
    display: grid;
        
    grid-template-columns: 1fr 1fr;
    gap: 0 4.5rem;
}

.column-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.column-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.programming-skills {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.programming-skills > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: .5rem 0 .5rem 0;
    padding-right: 1rem;
    position: relative;
}

.dot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
}

.dot::before {
    content: '';
    position: absolute;
    width: .35rem;
    height: .35rem;
    background-color: #32c492;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.dot::after {
    content: '';
    position: absolute;
    width: .35rem;
    height: .35rem;
    background-color: transparent;
    border: 1px solid #32c492;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: .2s cubic-bezier(0.61, 1, 0.88, 1);
}



.programming-skills > li:hover .dot::after  {
    width: .8rem;
    height: .8rem;
    transition: .1s cubic-bezier(0.61, 1, 0.88, 1);
}

.two {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
}

.two::before {
    content: '';
    position: absolute;
    width: .3rem;
    height: .3em;
    margin-left: 1.2rem;
    background-color: #32c492;
    transform: rotate(45deg);
}

.two::after {
    content: '';
    position: absolute;
    width: .3rem;
    height: .3em;
    /* margin-right: .55rem; */
    background-color: #32c492;
    transform: rotate(45deg);
}

.three {
    background-color: #32c492;
    width: .3rem;
    height: .3em;
    margin: .3rem 1rem 0 .2rem;
    transform: rotate(45deg);
}

.three::before {
    content: '';
    position: absolute;
    width: .3rem;
    height: .3em;
    margin-top: -.45em;
    background-color: #32c492;
    
}

.three::after {
    content: '';
    position: absolute;
    width: .3rem;
    height: .3em;
    margin-left: -.45em;
    background-color: #32c492;
    
}

/* .one {
    position: relative;
    width: .3rem;
    height: .3rem;
    margin-right: .9rem;
    background-color: #32c492;
    transform: rotate(45deg);
}

.two {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: .25rem;
    height: .25rem;
    margin-right: .9rem;
    background-color: #32c492;
    transform: rotate(45deg);
}

.two::before {
    content: '';
    position: absolute;
    width: .6rem;
    height: .6em;
    background-color: transparent;
    border: 1px solid #32c492;
}

.three {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: .25rem;
    height: .25rem;
    margin-right: .9rem;
    background-color: #32c492;
    transform: rotate(45deg);
}

.three::before {
    content: '';
    position: absolute;
    width: .6rem;
    height: .6rem;
    background-color: transparent;
    border: 1px solid #32c492;
}


.three::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: 1px solid #32c492;
} */

.main-color {
    color: #32c492;
}

.page-name {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: bold;
}

.my-name {
    margin-top: .75rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #32c492;
}

.short-description {
    margin: 2rem 0 1.75rem 0;
    font-size: 1.1rem;
    color: #5b6d79;
}

.my-works {
    margin-top: 1rem;
    padding: .5rem 2rem;
    border: 1px solid #32c492;
    color: #32c492;
    border-radius: .3rem;
    transition: .2s cubic-bezier(0.61, 1, 0.88, 1);
}

.my-works:hover {
    background-color: #32c492;
    color: white;
}

.skill-button {
    text-align: left;
}

.skill-note {
    position: absolute;
    top: 0;
    margin: 2rem 0 0 0;
    padding: .75rem 1.5rem;
    border: 1px solid #32c492;
    border-radius: .2rem;
    z-index: 5;
    width: 200%;

    background-color: rgba(50, 196, 146, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

}

.skill-note--closed {
    display: none;
}

.skill-note--left {
    left: 0;
}

.skill-note--right {
    right: 0;
    display: flex;
}

.programming-skills > li::before {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    width: 1rem;
    z-index: 6;
    opacity: 0;
    transition: opacity 0s;
    transition-delay: 0ms;

    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #32c492;
}

.programming-skills .open-dialog::before {
    opacity: 1;

    transition: opacity .15s;
    transition-delay: 100ms;
}

.programming-skills > li::after {
    content: '';
    position: absolute;
    top: 1.6rem;
    left: 2rem;
    width: 1rem;
    z-index: 6;
    opacity: 0;
    transition: opacity 0s;
    transition-delay: 0ms;

    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #0b2b35;

}

.programming-skills .open-dialog::after {
    opacity: 1;
    
    transition: opacity .15s;
    transition-delay: 100ms;
}

@media (max-width: 1024px) {
    .container {  
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-name {
        font-size: 3.5rem;
        line-height: 1;
        font-weight: bold;
    }
    
    .my-name {
        margin-top: .5rem;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: #32c492;
    }

    .short-description {
        margin: 1.5rem 0 2.5rem 0;
        font-size: .875rem;
    }
}

@media (max-width: 425px) {
    .container {  
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-name {
        font-size: 2.25rem;
        line-height: 1;
        font-weight: bold;
    }
    
    .my-name {
        margin-top: .25rem;
        font-size: 1.1rem;
        line-height: 2.25rem;
        color: #32c492;
    }
}