.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-me {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.contact-me svg {
    margin-left: 1rem;;
    color: #32c492;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
}

.subject {
    width: 100%;
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #32c492;
    color:#32c492;
    border-radius: .5rem;
    padding: .5rem;
}

.message {
    width: 100%;
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #32c492;
    color:#32c492;
    border-radius: .5rem;
    padding: .5rem;
}

.subject::placeholder {
    color: #97bcaf;
    opacity: 1;
}

.message::placeholder {
    color: #97bcaf;
    opacity: 1;
}

.send {
    margin-top: 1rem;
    padding: .5rem 2rem;
    border: 1px solid #32c492;
    color: #32c492;
    border-radius: .3rem;
    transition: .2s cubic-bezier(0.61, 1, 0.88, 1);
}

.send:hover {
    background-color: #32c492;
    color: white;
}

@media (max-width: 1024px) {
    .form {
        width: 75%;
    }
}

@media (max-width: 425px) {
    .form {
        width: 100%;
    }

    .send {
        width: 100%;
    }
}