.container {
  background-color: #01051e;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr repeat(12, 1fr) 1fr;
  gap: 0 1rem;
}

@media (max-width: 1024px) {
  .container {  
    grid-template-columns: 2rem repeat(6, 1fr) 1rem;
  }
}