.container {
    background-color: #01051e;
    min-height: 100vh;
    width: 100%;
}

.logo-wrapper {
    position: fixed;
}

.logo {
    overflow: visible;
    stroke: #32c492;
    stroke-width: .5em;
    stroke-linejoin: round;
    stroke-linecap: round;
}