.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(1, 5, 30, 0.4);
    position: absolute;
    width: 100%;

    /* Sticky */
    position: fixed;
    transform: translate(0, 0);
    transition: all 0.25s ease-out;

    /* Glassmorpishm */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
}

.container.hide-container {
    transform: translate(0, -20vh);
}

.container.visible-container {
    transform: translateY(0);
}

.logo-container {
    height: 50px;
    width: 50px;
    margin: .5rem 1rem;
}

.links-container {
    margin: .5rem 2rem .5rem 1rem;
}

.links-button {
    display: none;
}

.nav-desktop-items {
    display: flex;
    align-items: center;
}

.nav-mobile-wrapper {
    display: none;
    height: 100vh;
    width: 60vw;
    top: 0;
    right: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: visible;
}

.alpha-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.nav-mobile-items {
    display: none;
}

.nav-item {
    color: white;
    margin: 0 1rem;
    font-size: 1rem;
    text-align: right;
    overflow: hidden;

}

.desktop-item {
    transition: all .3s cubic-bezier(0,.72,.37,.97);
}

.desktop-item:hover {
    padding-top: .4rem;
}

.desktop-icon {
    transition: all .2s cubic-bezier(0,.72,.37,.97);
}

.desktop-icon:hover {
    transform: scale(1.2);
}

.nav-icon {
    color: #32c492;
    font-size: 1.4rem;
    margin: 0 1rem 0 .4rem;
    display: flex;
}

.mobile-icons-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 0.6rem;
}

.close-nav {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    right: 0;
    margin: .5em 1em 1em .5em;
    border-radius: .5rem;
}

.close-nav::before {
    content: '';
    width: 1.75rem;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: .5em;
    background-color: #01051e;
    border-radius: .5rem;
    transform: rotate(45deg);
}

.close-nav::after {
    content: '';
    width: 1.75rem;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: .5em;
    background-color: #01051e;
    border-radius: .5rem;
    transform: rotate(-45deg);
}

.button-wrapper {
    display: none;
}

.flex {
    display: flex;
}

@media (max-width: 1024px) {
    .links-container {
        background-color: transparent;
    }

    .nav-mobile-wrapper {
        display: block;
        z-index: 2;
    }

    .alpha-container {
        display: block;
        z-index: 0;
    }

    .links-button {
        display: block;
        width: 1.75rem;
        height: 2px;
        border-radius: .2em;
        position: absolute;
    }

    .nav-desktop-items {
        display: none;
    }

    .nav-mobile-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #32c492;
        color: #01051e;
        height: 100%;
        width: 100%; 
        font-size: 2rem;
        font-weight: 700;
    }

    .nav-mobile-items.menu-open {
        display: flex;
    }

    .nav-item {  
        margin-right: 2rem;  
        margin-bottom: 2rem;
    }

    .nav-icon {
        font-size: 1.75rem;
        color: white;
    }

    .button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 1.25em;
        width: 1.75rem;
        cursor: pointer;
        z-index: 998
    }
  }
  
@keyframes item-in {
    from   { transform: translate(-100%, 0); }
    to { transform: translate(0%, 0);}
}

@keyframes item-out {
    from   { transform: translate(0%, 0); }
    to { transform: translate(100%, 0);}
}