.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 2rem;
    width: 1.5rem;
    height: 90vh;
    mask-image: -webkit-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 0%);
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 0%);
}

.before-line {
    height: 100%;
    background: rgb(50,196,146);
    background-image: linear-gradient(0deg, rgba(50,196,146,1) 90%, rgba(1,5,30,1) 100%);
    width: 1px;
    position: relative;
}

.before-line::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-image: linear-gradient(0deg, rgba(50,196,146,1) 0%, rgba(1,5,30,1) 75%);
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.before-line.first-line::before {
    opacity: 1;
}

.after-line {
    height: 100%;
    background: rgb(50,196,146);
    background: linear-gradient(180deg, rgba(50,196,146,1) 90%, rgba(1,5,30,1) 100%);
    width: 1px;
    position: relative;
}

.after-line::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-image: linear-gradient(180deg, rgba(50,196,146,1) 0%, rgba(1,5,30,1) 75%);
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.after-line.last-line::before {
    opacity: 1;
}

.nav {
    margin: 0em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav .dot:first-child {
    margin-top: 0;
}

.nav .dot:last-child {
    margin-bottom: 0;
}

.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: .5em;
    height: .5em;
    margin: .4em;
}

.dot.active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: .8em;
    height: .8em;
}

.dot::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #32c492;
    border-radius: 100%;
    transition: all 0.2s ease-out;
    transform: rotate(-45deg);
}

.dot.active::before {
    background-color: #32c492;
    border: 1px solid transparent;
    border-radius: 0;
    
}